    <form action="/api/carrito" method="get" id="form_entrada_carrito">
        carrito
        <div class="field">
        <label class="label" for="Usuario_Carrito_nombre">Name</label>
        <div class="control">
            <input class="input" type="number" placeholder="nombre usuario" name="Usuario_Carrito_nombre" id="Usuario_Carrito_nombre">
        </div>
        </div>
        <div class="field">
        <label class="label" for="tipo_de_usuario_carrito">tipo de usuario</label>
        <div class="control">
            <div class="select">
            <select name="tipo_de_usuario_carrito" id="tipo_de_usuario_carrito">
                <option value="cliente">cliente</option>
                <option value="administrador">administrador</option>
            </select>
            </div>
        </div>
        </div>
        <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
        </div> 
       
   {{!--  </form>
      <form action="/api/productos" method="get" id="form_entrada_producto">
      productos
        <div class="field">
        <label class="label" for="Usuario_Producto_nombre">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Text input" name="Usuario_Producto_nombre" id="Usuario_Producto_nombre">
        </div>
        </div>
        <div class="field">
        <label class="label" for="tipo_de_usuario">usuario</label>
        <div class="control">
            <div class="select">
            <select name="tipo_de_usuario_producto" id="tipo_de_usuario_producto">
                <option value="cliente">cliente</option>
                <option value="administrador">administrador</option>
            </select>
            </div>
        </div>
        </div>
        <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
        </div> 
       
    </form> --}}